section.realized-swiper
  .container
    .realized-swiper__head
      h2.realized-swiper__title Реализованные решения

      .swiper__nav-cont
        .swiper-button-prev.realized-swiper__btn-prev
          include /common/icons/arrow.svg

        .swiper-button-next.realized-swiper__btn-next
          include /common/icons/arrow.svg

    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .realized-swiper-item
            .realized-swiper-item__img-cont
              img.realized-swiper-item__img(src='assets/img/@solutions/realized-swiper/pic-01.jpg')
              span.realized-swiper-item__title Детский сад &laquo;Солнышко&raquo;, <br>г. Подольск

        .swiper-slide
          .realized-swiper-item
            .realized-swiper-item__img-cont
              img.realized-swiper-item__img(src='assets/img/@solutions/realized-swiper/pic-02.jpg')
              span.realized-swiper-item__title Филиал &#8470;&nbsp;2&nbsp;Вторая Городская больница <br>при МБУЗ, г. Орехово-Зуево

        .swiper-slide
          .realized-swiper-item
            .realized-swiper-item__img-cont
              img.realized-swiper-item__img(src='assets/img/@solutions/realized-swiper/pic-01.jpg')
              span.realized-swiper-item__title Детский сад &laquo;Солнышко&raquo;, <br>г. Подольск

        .swiper-slide
          .realized-swiper-item
            .realized-swiper-item__img-cont
              img.realized-swiper-item__img(src='assets/img/@solutions/realized-swiper/pic-02.jpg')
              span.realized-swiper-item__title Филиал &#8470;&nbsp;2&nbsp;Вторая Городская больница <br>при МБУЗ, г. Орехово-Зуево

        .swiper-slide
          .realized-swiper-item
            .realized-swiper-item__img-cont
              img.realized-swiper-item__img(src='assets/img/@solutions/realized-swiper/pic-01.jpg')
              span.realized-swiper-item__title Детский сад &laquo;Солнышко&raquo;, <br>г. Подольск

        .swiper-slide
          .realized-swiper-item
            .realized-swiper-item__img-cont
              img.realized-swiper-item__img(src='assets/img/@solutions/realized-swiper/pic-02.jpg')
              span.realized-swiper-item__title Филиал &#8470;&nbsp;2&nbsp;Вторая Городская больница <br>при МБУЗ, г. Орехово-Зуево
