section#features.product-features
  .container
    .product-features__head
      h2.product-features__title Особенности конструкции
      .swiper__nav-cont
        .swiper-button-prev.product-items-btn-prev
          include /common/icons/arrow.svg
        .swiper-button-next.product-items-btn-next
          include /common/icons/arrow.svg

    .product-items-swiper.swiper-container
      .swiper-wrapper
        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-01.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-02.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-03.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-04.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-01.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-02.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-03.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.

        .swiper-slide
          .product-feature
            .product-feature__img-cont
              img.product-feature__img(src='assets/img/@product/product-features/pic-04.jpg' alt='Возможность опломбировки вводного автомата с помощью входящего в стандартную комплектацию пломбиратора')
            p.product-feature__txt Возможность опломбировки вводного автомата с&nbsp;помощью входящего в&nbsp;стандартную комплектацию пломбиратора.
