section.project-article-head
  .container
    h1.project-article__title Комплекс Baku White City

  .container
    .project-article__top-cont
      img.project-article__img(src='assets/img/@projects/project-items/pic-main-03.jpg')

      .project-article__txt-cont
        p.project-article__txt Baku White City&nbsp;&mdash; один из&nbsp;масштабных градостроительных проектов в&nbsp;Азербайджане, который осуществляется в&nbsp;рамках указа президента Республики Ильхама Алиева об&nbsp;утверждении &laquo;Плана комплексных мероприятий по&nbsp;улучшению экологической ситуации в&nbsp;Азербайджанской Республике&raquo;. Проект направлен на&nbsp;восстановление и&nbsp;развитие восточной части центра столицы, занимающей территорию 221&nbsp;гектар. Генеральный план Baku White City предусматривает создание 10&nbsp;универсальных районов городского типа.

    p.project-article__txt К&nbsp;работе над проектом Baku White City, наряду с&nbsp;азербайджанскими специалистами, привлечена британская компания Atkins, специализирующаяся в&nbsp;области инженерного дизайна, а&nbsp;также архитектурные фирмы Foster and Partners и&nbsp;F+A Architects. Несколько зданий, а&nbsp;также тоннель оснащены продукцией IEK<sup class="reg">&reg;</sup>.

    ul.project-article__list
      li.project-article__item
        span.bold Город:&#8194;
        span.project-article__item-txt Баку, Азербайджан

      li.project-article__item
        span.bold ТМ ITK®:&#8194;
        span.project-article__item-txt металлические лотки

      li.project-article__item
        span.bold Год установки:&#8194;
        span.project-article__item-txt 2016

      li.project-article__item
        span.bold Год установки:&#8194;
        span.project-article__item-txt компания Avalone Elektrik


    .simplepage-gallery
      .simplepage-gallery__head
        h5.simplepage-gallery__title Материалы по&nbsp;проекту
        .swiper__nav-cont
          .swiper-button-prev.simplepage-gallery__btn-prev
            include /common/icons/arrow.svg
          .swiper-button-next.simplepage-gallery__btn-next
            include /common/icons/arrow.svg

      .simplepage-gallery__wrapper.swiper-container
        .swiper-wrapper
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@projects/project-items/pic-main-03.jpg')
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@project-article/pic-01.jpg')
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@project-article/pic-02.jpg')
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@project-article/pic-03.jpg')
