#table.product-table
  .container
    h2.product-table__title Характеристики
    span.product-table__subtitle Технические характеристики

    .product-table__cont
      .product-table__wrapper
        .table-wrapper
          table
            thead
              tr
                th Параметр
                th Значение
            tbody
              tr
                td Категория:
                td 5E
              tr
                td Тип патч-панели:
                td STP
              tr
                td Количество портов:
                td 12
              tr
                td Тип соединителя или разъема:
                td RJ45 8(8)
              tr
                td Тип заделки контактов модулей IDC:
                td Dual
              tr
                td Размер AWG:
                td 22...24
              tr
                td Номер цвета RAL:
                td 9005
              tr
                td Тип монтажа:крепление
                td 10-дюймовое крепление
              tr
                td Макс сила тока:
                td 1.5 А
              tr
                td Напряжение:
                td 48 В
              tr
                td Контактное сопротивление:
                td 20 мОм
              tr
                td Сопротивление изоляции:
                td 500 мОм
              tr
                td Температура эксплуатации:
                td 0…+60 °C

      .product-table__wrapper
        .table-wrapper
          table
            thead
              tr
                th Параметр
                th Значение
            tbody
              tr
                td Подходит для количества коннекторов:
                td 12
              tr
                td Количество модулей в высоту:
                td 1.0
              tr
                td Цвет:
                td Черный
              tr
                td Высота:
                td 44.5 мм
              tr
                td Ширина:
                td 254.0 мм
              tr
                td Глубина:
                td 100.0 мм
              tr
                td Маркировка:
                td Цифровая и цветовая
              tr
                td Толщина металла:
                td 1.6 мм
              tr
                td Материал контактов:
                td Бронза с позолотой
              tr
                td Материал корпуса:
                td Металл
              tr
                td Полоса пропускания:
                td 100 МГц
              tr
                td Диаметр проводника:
                td 0,51...0,64 мм
              tr
                td Усилие удержания разъема:
                td 50 Н

    .product-table__cont
      .product-table__wrapper
        span.product-table__subtitle Эксплуатационные параметры
        .table-wrapper
          table
            thead
              tr
                th Параметр
                th Значение
                th
            tbody
              tr
                td Срок службы, Лет:
                td не менее 15
                td
              tr
                td Гарантийный срок, Лет:
                td 1
                td

      .product-table__wrapper
        span.product-table__subtitle Комплектация
        .table-wrapper
          table
            thead
              tr
                th Параметр
                th Значение
                th
            tbody
              tr
                td Дверь передняя с рамой
                td 1 шт.
                td
              tr
                td Крыша
                td 1 шт.
                td

    span.product-table__subtitle Логистические параметры
    .product-table__cont
      .product-table__wrapper
        .table-wrapper
          table
            thead
              tr
                th
                th Индивидуальная
                th Групповая
                th Транспортная
            tbody
              tr
                td Количество
                td шт
                td -
                td шт
              tr
                td Единицы измерения
                td 1
                td -
                td 10
              tr
                td Тип упаковки
                td КОРОБКА/БОКС
                td -
                td КОРОБКА/БОКС
              tr
                td Материал упаковки
                td КАРТОН
                td -
                td КАРТОН
              tr
                td Штрихкод
                td 4606056767513
                td -
                td 4606056767513
              tr
                td Вес брутто, кг
                td 0.82
                td -
                td 8.7
              tr
                td l, см
                td 27.5
                td -
                td 30
              tr
                td b, см
                td 1
                td -
                td 10
              tr
                td h, см
                td 5.8
                td -
                td 32
