section.products-catalog.production
  .production-grid
    .production-grid__item.item-1
      img.production-grid__item-bg(src='assets/img/@index/production/bg-01.jpg' alt='Шкафы монтажные')
      .production-grid__list
        span.production-grid__name Шкафы монтажные

    .production-grid__item.item-2
      img.production-grid__item-bg(src='assets/img/@index/production/bg-02.jpg' alt='Компоненты СКС медные')
      .production-grid__list
        span.production-grid__name Компоненты <br>СКС медные

    .production-grid__item.item-3
      img.production-grid__item-bg(src='assets/img/@index/production/bg-03-dop.jpg' alt='Электропитание и мониторинг')

      .production-grid__list
        span.production-grid__name Электропитание и <br>мониторинг

    .production-grid__item.item-4
      img.production-grid__item-bg(src='assets/img/@index/production/bg-04.jpg' alt='Компоненты СКС медные')
      .production-grid__list
        span.production-grid__name Компоненты <br>СКС медные

    .production-grid__item.item-5
      img.production-grid__item-bg(src='assets/img/@index/production/bg-05.jpg' alt='LAN-кабель и инструменты')
      .production-grid__list
        span.production-grid__name LAN-кабель и инструменты
