//- Include production-grid-list ('.production-grid__list')
include /@index/production/blocks/production-grid-list/block


.products-catalog.production
  .production-grid
    .production-grid__item.item-1
      img.production-grid__item-bg(src='assets/img/@index/production/bg-01.jpg' alt='Шкафы монтажные')
      +list('Шкафы монтажные')

    .production-grid__item.item-2
      img.production-grid__item-bg(src='assets/img/@index/production/bg-02.jpg' alt='Компоненты СКС медные')
      +list('Компоненты \nСКС медные')

    .production-grid__item.item-3
      picture
        source(
          srcset='assets/img/@index/production/bg-03-dop.jpg'
          media='(max-width: 991px)'
        )
        img.production-grid__item-bg(src='assets/img/@index/production/bg-06.jpg' alt='Электропитание и мониторинг')
      +list('Электропитание и \nмониторинг')

    .production-grid__item.item-4
      img.production-grid__item-bg(src='assets/img/@index/production/bg-04.jpg' alt='Компоненты СКС медные')
      +list('Компоненты \nСКС оптические')

    .production-grid__item.item-5
      img.production-grid__item-bg(src='assets/img/@index/production/bg-05.jpg' alt='LAN-кабель и инструменты')
      +list('LAN-кабель и инструменты')

    .production-grid__item.item-6
      img.production-grid__item-bg(src='assets/img/@index/production/bg-07.jpg' alt='Комплексные \nрешения для ЦОД')
      +list('Комплексные решения для ЦОД')
