section#documentation.product-documentation
  .container
    h2.product-documentation__title Документация

    .product-documentation-swiper.swiper-container
      .swiper-wrapper
        .swiper-slide
          .product-documentation-item
            .product-documentation-item__img-cont
              img.product-documentation-item__img(src='assets/img/@product/product-documentation/pic-01.jpg')
            span.product-documentation-item__title Отказное письмо ТР ПБ

        .swiper-slide
          .product-documentation-item
            .product-documentation-item__img-cont
              img.product-documentation-item__img(src='assets/img/@product/product-documentation/pic-02.jpg')
            span.product-documentation-item__title Декларация ТР ТС

        .swiper-slide
          .product-documentation-item
            .product-documentation-item__img-cont
              img.product-documentation-item__img(src='assets/img/@product/product-documentation/pic-03.jpg')
            span.product-documentation-item__title Септификат добровольный ГОСТ Р

        .swiper-slide
          .product-documentation-item
            .product-documentation-item__img-cont
              img.product-documentation-item__img(src='assets/img/@product/product-documentation/pic-04.jpg')
            span.product-documentation-item__title Буклет “Больницы, школы, детские сады”

    .product-documentation-items
      .product-documentation-items__item
        span.product-documentation-items__title Сертификаты
        ul.product-documentation-items__list
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/document.svg
              span Отказное письмо ТР ПБ
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/document.svg
              span Отказное письмо ТР ТС НВО, ЭМС, ОБМиО
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/document.svg
              span Сертификат добровольный ГОСТ Р
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/document.svg
              span Декларация ТР ТС
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/document.svg
              span Отказное письмо ТР ЕАЭС 043

      .product-documentation-items__item
        span.product-documentation-items__title Паспорта и РЭ
        ul.product-documentation-items__list
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/document.svg
              span Краткое руководство по&nbsp;эксплуатации

      .product-documentation-items__item
        span.product-documentation-items__title Сертификаты
        ul.product-documentation-items__list
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/download.svg
              span Чертеж dwg (AutoCad)
          li.product-documentation-items__list-item
            a.product-documentation-items__list-link(href='#')
              include ./../icons/download.svg
              span База оборудования (Revit)
