footer.footer
  .container
    .footer__cont
      .footer__col
        .footer-social
          span.footer__txt Мы в социальных сетях
          .footer-social__cont
            a.footer-social__link(href='#')
              include ./icons/facebook.svg

            a.footer-social__link(href='#')
              include ./icons/instagram.svg

            a.footer-social__link(href='#')
              include ./icons/vk.svg

            a.footer-social__link(href='#')
              include ./icons/youtube.svg

        .footer-note
          .footer-logo
            include ./icons/logo-white.svg
          span.footer-note__txt ITK&copy; 2014-2020. <br>Все права защищены.

      nav.footer-nav
        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href='#') О&nbsp;торговой марке

          li.footer-nav__item
            a.footer-nav__link(href='#') Реализованные проекты

          li.footer-nav__item
            a.footer-nav__link(href='#') Пресс-центр

          li.footer-nav__item
            a.footer-nav__link(href='#') Прайс-лист

          li.footer-nav__item
            a.footer-nav__link(href='#') Где купить

          li.footer-nav__item
            a.footer-nav__link(href='#') Контакты

          li.footer-nav__item
            a.footer-nav__link(href='#') На&nbsp;сайт IEK GROUP

        ul.footer-nav__list
          li.footer-nav__item
            a.footer-nav__link(href='#') Продукция

          li.footer-nav__item
            a.footer-nav__link(href='#') Сервис и&nbsp;поддержка

          li.footer-nav__item
            a.footer-nav__link(href='#') Обучение


      .footer-info
        .footer-info__item
          span.footer__txt Центральный офис
          a.footer__phone(href='tel:+7 (495) 542-22-24') +7 (495) 542-22-24
          br
          a.footer-info__link(href='mailto:info@itk-group.ru')
            span info@itk-group.ru
            include /common/icons/email.svg

        .footer-info__item.footer-info__item--item-2
          span.footer__txt Техподдержка
          a.footer__phone(href='tel:+7 (495) 542-22-24') +7 (495) 542-22-24
          br
          a.footer-info__link(href='mailto:info@itk-group.ru')
            span info@itk-group.ru
            include /common/icons/email.svg