section#similar-products.similar-products
  .container
    h2.similar-products__title Близкая по&nbsp;параметрам продукция

    .similar-products-swiper.product-items-swiper.swiper-container
      .swiper-wrapper
        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@catalog/product-item/pic-02.jpg')
            .product-item__title TK&nbsp;Шкаф серверный 19&Prime; LINEA S&nbsp;24U 600&times;1000мм перфорированные передняя и&nbsp;задняя двери черный (место 1&nbsp;из&nbsp;3)

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@catalog/product-item/pic-01.jpg')
            .product-item__title TK&nbsp;Шкаф серверный 19&Prime; LINEA S&nbsp;24U 600&times;1000мм перфорированные передняя и&nbsp;задняя двери черный (место 1&nbsp;из&nbsp;3)
