-
  const ITEMS = [
    {
      image: 'assets/img/@catalog/product-item/pic-01.jpg',
      description: 'ITK Шкаф серверный 19\u2032 LINEA S\u00A033U 800\3271000мм передняя двухстворчатая перфорированная дверь, задняя перфорированная серый (комплект 3\u00A0коробки\u00A0\u2014 часть 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 800\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-02.jpg',
      description: 'TK\u00A0Шкаф серверный 19\u2032 LINEA S\u00A024U 600\3271000мм перфорированные передняя и\u00A0задняя двери черный (место 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 600\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-02.jpg',
      description: 'TK\u00A0Шкаф серверный 19\u2032 LINEA S\u00A024U 600\3271000мм перфорированные передняя и\u00A0задняя двери черный (место 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 600\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-01.jpg',
      description: 'ITK Шкаф серверный 19\u2032 LINEA S\u00A033U 800\3271000мм передняя двухстворчатая перфорированная дверь, задняя перфорированная серый (комплект 3\u00A0коробки\u00A0\u2014 часть 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 800\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-01.jpg',
      description: 'ITK Шкаф серверный 19\u2032 LINEA S\u00A033U 800\3271000мм передняя двухстворчатая перфорированная дверь, задняя перфорированная серый (комплект 3\u00A0коробки\u00A0\u2014 часть 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 800\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-02.jpg',
      description: 'TK\u00A0Шкаф серверный 19\u2032 LINEA S\u00A024U 600\3271000мм перфорированные передняя и\u00A0задняя двери черный (место 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 600\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-02.jpg',
      description: 'TK\u00A0Шкаф серверный 19\u2032 LINEA S\u00A024U 600\3271000мм перфорированные передняя и\u00A0задняя двери черный (место 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 600\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    },
    {
      image: 'assets/img/@catalog/product-item/pic-01.jpg',
      description: 'ITK Шкаф серверный 19\u2032 LINEA S\u00A033U 800\3271000мм передняя двухстворчатая перфорированная дверь, задняя перфорированная серый (комплект 3\u00A0коробки\u00A0\u2014 часть 1\u00A0из\u00A03)',
      parameter_1: 'Кол-во дверей шкафа: 2',
      parameter_2: 'Ширина: 800\u00A0мм',
      parameter_3: 'Высота: 1210\u00A0мм',
      parameter_4: 'Глубина: 1000\u00A0мм'
    }
  ];
