section.projects
  .container
    h2.projects__title Реализованные проекты

    .projects-head
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .swiper-tab Бизнес-<br>подразделение &laquo;ЕвразХолдинга&raquo; <br>в&nbsp;г. Новокузнецке
          .swiper-slide
            .swiper-tab Офисное здание &laquo;Ростелеком&raquo;, <br>г. Санкт-Петербург
          .swiper-slide
            .swiper-tab ТЦ&nbsp;&laquo;Эль Рио&raquo; <br>г. Самара

      .projects-grid
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .projects-item
                .projects-item__main-img
                  img.projects-item__img-main(src='assets/img/@index/pic-01.jpg')

                .projects-item__grid
                  .projects-item__area-1
                    img.projects-item__img(src='assets/img/@index/pic-02.jpg')

                  .projects-item__area-2
                    img.projects-item__img(src='assets/img/@index/pic-03.jpg')

                  .projects-item__area-3
                    img.projects-item__img(src='assets/img/@index/pic-04.jpg')

                  .projects-item__area-4

            .swiper-slide
              .projects-item
                .projects-item__main-img
                  img.projects-item__img-main(src='assets/img/@index/pic-01.jpg')

                .projects-item__grid
                  .projects-item__area-1
                    img.projects-item__img(src='assets/img/@index/pic-02.jpg')

                  .projects-item__area-2
                    img.projects-item__img(src='assets/img/@index/pic-03.jpg')

                  .projects-item__area-3
                    img.projects-item__img(src='assets/img/@index/pic-04.jpg')

                  .projects-item__area-4

            .swiper-slide
              .projects-item
                .projects-item__main-img
                  img.projects-item__img-main(src='assets/img/@index/pic-01.jpg')

                .projects-item__grid
                  .projects-item__area-1
                    img.projects-item__img(src='assets/img/@index/pic-02.jpg')

                  .projects-item__area-2
                    img.projects-item__img(src='assets/img/@index/pic-03.jpg')

                  .projects-item__area-3
                    img.projects-item__img(src='assets/img/@index/pic-04.jpg')

                  .projects-item__area-4

