section.contacts
  //- Include Breadcrumbs ('.breadcrumbs')
  include /common/blocks/breadcrumbs/block

  //- Include Feedback ('.feedback')
  include /common/blocks/feedback/block

  +breadcrumbs([
    {
      txt: 'Главная'
    },
    {
      txt: 'Контакты',
      class: 'active'
    }
  ])

  .container
    h1.contacts__title Контакты

    .inner-page__grid
      .swiper-container.tabs
        .swiper-wrapper
          .swiper-slide
            .tabs__item.active(data-area='main-office')
              span.tabs__txt Центральный офис в&nbsp;России
              include /common/icons/arrow.svg
          .swiper-slide
            .tabs__item(data-area='russia-office')
              span.tabs__txt Представительства в&nbsp;России
              include /common/icons/arrow.svg
          .swiper-slide
            .tabs__item(data-area='russia-office')
              span.tabs__txt Представительства в&nbsp;Украине
              include /common/icons/arrow.svg
          .swiper-slide
            .tabs__item(data-area='russia-office')
              span.tabs__txt Представительства в&nbsp;Казахстане
              include /common/icons/arrow.svg

      +feedback(true, 'Напишите нам')

      .inner-page__content
        .tab-content.active(data-area='main-office')
          include ./contacts-main/block
        .tab-content.hidden(data-area='russia-office')
          include ./contacts-representations/block
