section.contacts
  //- Include Breadcrumbs ('.breadcrumbs')
  include /common/blocks/breadcrumbs/block

  +breadcrumbs([
    {
      txt: 'Главная'
    },
    {
      txt: 'Контакты',
      class: 'active'
    }
  ])

  .container
    h1.contacts__title Контакты

    .contacts__grid
      .swiper-container.tabs
        .swiper-wrapper
          .swiper-slide
            .tabs__item.active(data-area='main-office')
              span.tabs__txt Центральный офис в&nbsp;России
              include /common/icons/arrow.svg
          .swiper-slide
            .tabs__item(data-area='russia-office')
              span.tabs__txt Представительства в&nbsp;России
              include /common/icons/arrow.svg
          .swiper-slide
            .tabs__item(data-area='russia-office')
              span.tabs__txt Представительства в&nbsp;Украине
              include /common/icons/arrow.svg
          .swiper-slide
            .tabs__item(data-area='russia-office')
              span.tabs__txt Представительства в&nbsp;Казахстане
              include /common/icons/arrow.svg

      .contacts-feedback
        span.contacts-feedback__title Напишите нам

        .contacts-feedback__form
          .contacts-feedback__row
            .contacts-feedback__col-1
              .input-wrapper
                input.input(type='text' placeholder='Ваше имя')

              .input-wrapper
                input.input(type='text' placeholder='Электронная почта')

            .contacts-feedback__col-2
              .input-wrapper
                textarea.textarea(placeholder='Сообщение')

          .contacts-feedback__row-bottom
            .contacts-feedback__col-1
              label.checkbox
                input(type='checkbox')
                .checkbox__elem
                span.checkbox__txt Даю согласие с условиями <a href='#'>политики конфиденциальности</a>

            .contacts-feedback__col-2
              button.btn
                span.btn__txt Отправить

      .contacts__content
        .tab-content.active(data-area='main-office')
          include ./contacts-main/block
        .tab-content.hidden(data-area='russia-office')
          include ./contacts-representations/block
