header.header
  .container
    .header__cont
      a.logo(href='#')
        include ./img/logo.svg

      .header__content
        .header-top
          a.header-top__link.header__email(href='#')
            span Написать письмо
            include /common/icons/email.svg

          a.header-top__link.header__phone(href='#') +7 (495) 542-22-24

        nav.header-nav
          ul.header-nav__list
            li.header-nav__item
              a.header-nav__link.link(href='#') О торговой марке
            li.header-nav__item
              a.header-nav__link.link(href='#') Релизованные проекты
            li.header-nav__item
              a.header-nav__link.link(href='#') Пресс центр
            li.header-nav__item
              a.header-nav__link.link(href='#') Где купить
            li.header-nav__item
              a.header-nav__link.link(href='#') Контакты

  .header-bottom
    .container
      .header-bottom__cont
        button.search-btn
          include /common/icons/search.svg

        button.catalog-btn
          span.burger-btn
            span.bar-line
          span.catalog-btn__txt Продукция

        .header-bottom__wrapper
          nav.header-nav.header-nav--bottom
            ul.header-nav__list
              li.header-nav__item
                a.header-nav__link.link(href='#') Решения
              li.header-nav__item
                a.header-nav__link.link(href='#') Сервис и поддержка
              li.header-nav__item
                a.header-nav__link.link(href='#') Полезная информация
              li.header-nav__item
                a.header-nav__link.link(href='#') Обучение
              li.header-nav__item
                a.header-nav__link.link(href='#') Партнерам

          .search-area
            .search
              input.search__input(type='search' placeholder='Поиск по сайту')
            .search-area__btn-close
              include /common/icons/close.svg
