-
  const ITEMS = [
    {
      place: 'Новосибирск',
      address: 'ул. Ядринцевская, д. 68/1, офис № 1006/Б',
      phone_1: '+7 383 217-48-02',
      phone_2: '+7 913 393-39-78',
      phone_1_link: '+73832174802',
      phone_2_link: '+79133933978',
      email: 'bukhanoval@itk-group.ru',
      person: 'Буханов Андрей Леонидович',
      position: 'Региональный представитель (Сибирь)'
    },
    {
      place: 'Самара',
      address: 'проезд Прогонный, д. 6, оф.27',
      phone_1: '+7 846 973-53-07',
      phone_2: '+7 917 110-13-56',
      phone_1_link: '+78469735307',
      phone_2_link: '+79171101356',
      email: 'korzhenevskayauv@itk-group.ru',
      person: 'Корженевская Юлия Владиславовна',
      position: 'Региональный представитель (Поволжье)'
    },
    {
      place: 'Краснодар',
      address: 'ул. Атарбекова, 1/1, 4 этаж, офис 1А',
      phone_1: '+7 861 944-06-13',
      phone_2: '+7 906 431-50-20',
      phone_1_link: '+78619440613',
      phone_2_link: '+79064315020',
      email: 'bukhanoval@itk-group.ru',
      person: 'Ульяничев Сергей Анатольевич',
      position: 'Региональный представитель (Юг и Крым)'
    },
    {
      place: 'Санкт-Петербург',
      address: 'ул. Ново-рыбинская, дом.19-21, литера А. офис 403',
      phone_1: '+7 846 973-53-07',
      phone_2: '+7 917 110-13-56',
      phone_1_link: '+78469735307',
      phone_2_link: '+79171101356',
      email: 'korzhenevskayauv@itk-group.ru',
      person: 'Шестаков Иван Иванович',
      position: 'Региональный представитель (Северо-Запад)'
    },
    {
      place: 'Новосибирск',
      address: 'ул. Ядринцевская, д. 68/1, офис № 1006/Б',
      phone_1: '+7 383 217-48-02',
      phone_2: '+7 913 393-39-78',
      phone_1_link: '+73832174802',
      phone_2_link: '+79133933978',
      email: 'bukhanoval@itk-group.ru',
      person: 'Буханов Андрей Леонидович',
      position: 'Региональный представитель (Сибирь)'
    },
    {
      place: 'Самара',
      address: 'проезд Прогонный, д. 6, оф.27',
      phone_1: '+7 846 973-53-07',
      phone_2: '+7 917 110-13-56',
      phone_1_link: '+78469735307',
      phone_2_link: '+79171101356',
      email: 'korzhenevskayauv@itk-group.ru',
      person: 'Корженевская Юлия Владиславовна',
      position: 'Региональный представитель (Поволжье)'
    },
    {
      place: 'Краснодар',
      address: 'ул. Атарбекова, 1/1, 4 этаж, офис 1А',
      phone_1: '+7 861 944-06-13',
      phone_2: '+7 906 431-50-20',
      phone_1_link: '+78619440613',
      phone_2_link: '+79064315020',
      email: 'bukhanoval@itk-group.ru',
      person: 'Ульяничев Сергей Анатольевич',
      position: 'Региональный представитель (Юг и Крым)'
    },
    {
      place: 'Санкт-Петербург',
      address: 'ул. Ново-рыбинская, дом.19-21, литера А. офис 403',
      phone_1: '+7 846 973-53-07',
      phone_2: '+7 917 110-13-56',
      phone_1_link: '+78469735307',
      phone_2_link: '+79171101356',
      email: 'korzhenevskayauv@itk-group.ru',
      person: 'Шестаков Иван Иванович',
      position: 'Региональный представитель (Северо-Запад)'
    },
    {
      place: 'Новосибирск',
      address: 'ул. Ядринцевская, д. 68/1, офис № 1006/Б',
      phone_1: '+7 383 217-48-02',
      phone_2: '+7 913 393-39-78',
      phone_1_link: '+73832174802',
      phone_2_link: '+79133933978',
      email: 'bukhanoval@itk-group.ru',
      person: 'Буханов Андрей Леонидович',
      position: 'Региональный представитель (Сибирь)'
    },
    {
      place: 'Самара',
      address: 'проезд Прогонный, д. 6, оф.27',
      phone_1: '+7 846 973-53-07',
      phone_2: '+7 917 110-13-56',
      phone_1_link: '+78469735307',
      phone_2_link: '+79171101356',
      email: 'korzhenevskayauv@itk-group.ru',
      person: 'Корженевская Юлия Владиславовна',
      position: 'Региональный представитель (Поволжье)'
    },
    {
      place: 'Краснодар',
      address: 'ул. Атарбекова, 1/1, 4 этаж, офис 1А',
      phone_1: '+7 861 944-06-13',
      phone_2: '+7 906 431-50-20',
      phone_1_link: '+78619440613',
      phone_2_link: '+79064315020',
      email: 'bukhanoval@itk-group.ru',
      person: 'Ульяничев Сергей Анатольевич',
      position: 'Региональный представитель (Юг и Крым)'
    },
    {
      place: 'Санкт-Петербург',
      address: 'ул. Ново-рыбинская, дом.19-21, литера А. офис 403',
      phone_1: '+7 846 973-53-07',
      phone_2: '+7 917 110-13-56',
      phone_1_link: '+78469735307',
      phone_2_link: '+79171101356',
      email: 'korzhenevskayauv@itk-group.ru',
      person: 'Шестаков Иван Иванович',
      position: 'Региональный представитель (Северо-Запад)'
    }
  ];
