.service-table
  h3.service-table__title Базы оборудования для программ проектирования

  .table-wrapper
    table.table
      thead
        tr
          th Наименование
          th Формат
          th ПО
      tbody
        tr
          td
            a(href='#') Оборудование ITK в&nbsp;формате&nbsp;2D
          td
            a(href='#') *.dwg
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autocad-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') Динамические блоки металлических лотков и&nbsp;аксессуаров IEK
          td
            a(href='#') *.dwg
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autocad-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') База шкафов и&nbsp;аксессуаров ITK
          td
            a(href='#') *.sdf
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/nanocad-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') База шкафов и&nbsp;аксессуаров ITK
          td
            a(href='#') *.rfa
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autodesk-revit-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') Библиотека трубы и&nbsp;аксессуары
          td
            a(href='#') Видеоинструкция
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autodesk-revit-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') Библиотека кабельные лотки
          td
            a(href='#') Видеоинструкция
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autodesk-revit-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') Медные, оптические компоненты и&nbsp;блоки PDU
          td
            a(href='#') *.step
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autodesk-logo.png')
              .download-icon
                include ../icons/download.svg
        tr
          td
            a(href='#') Шкафы ITK
          td
            a(href='#') *.step
          td
            a(href='#')
              img(src='assets/img/@service-progs/service-table/autodesk-logo.png')
              .download-icon
                include ../icons/download.svg
