.catalog-filters
  a.btn.btn--filled(href='#')
    span.btn__txt Конфигуратор <br>и&nbsp;подбор аксессуаров

  .catalog-filters__list
    span.catalog-filters__title Подбор по&nbsp;параметрам

    .catalog-filter.item
      span.catalog-filter__title.head Ширина, мм

      .catalog-filter__content.content.collapsed
        .catalog-filter__options
          label.checkbox
            input(type='checkbox' checked)
            span.checkbox__elem
            span.checkbox__txt 600 <span class='txt-gray'>(3)</span>

          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 800 <span class='txt-gray'>(27)</span>

    .catalog-filter.item
      span.catalog-filter__title.head Высота, мм

      .catalog-filter__content.content.collapsed
        .catalog-filter__options
          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 1210 <span class='txt-gray'>(3)</span>

          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 1610 <span class='txt-gray'>(6)</span>

          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 2010 <span class='txt-gray'>(3)</span>

          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 2025 <span class='txt-gray'>(15)</span>

          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 2290 <span class='txt-gray'>(3)</span>

    .catalog-filter.item
      span.catalog-filter__title.head Глубина, мм

      .catalog-filter__content.content.collapsed
        .catalog-filter__options
          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 1000 <span class='txt-gray'>(24)</span>

          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 1200 <span class='txt-gray'>(6)</span>

    .catalog-filter.item
      span.catalog-filter__title.head Количество модулей в&nbsp;высоту

      .catalog-filter__content.content.collapsed
        .catalog-filter__options
          label.checkbox
            input(type='checkbox')
            span.checkbox__elem
            span.checkbox__txt 600 <span class='txt-gray'>(3)</span>
