section#addition-products.addition-products
  .container
    .addition-products__head
      h2.addition-products__title Близкая по&nbsp;параметрам продукция
      .swiper__nav-cont
        .swiper-button-prev.product-items-btn-prev
          include /common/icons/arrow.svg
        .swiper-button-next.product-items-btn-next
          include /common/icons/arrow.svg

    .product-item-swiper.product-items-swiper.swiper-container.product-items
      .swiper-wrapper
        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-01.jpg' alt='ITK Направляющие уголки 800мм черные (2шт)')
            span.product-item__title ITK Направляющие уголки 800мм черные (2шт)

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-02.jpg' alt='ITK Потолочная вентиляторная панель с термостатом 4 вентилятора черная')
            span.product-item__title ITK Потолочная вентиляторная панель с&nbsp;термостатом 4&nbsp;вентилятора черная

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-03.jpg' alt='ITK 19\' усиленная стационарная полка глубиной 800мм черная')
            span.product-item__title ITK&nbsp;19&Prime; усиленная стационарная полка глубиной 800мм черная

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-04.jpg' alt='ITK Потолочная вентиляторная панель с термостатом 4 вентилятора черная')
            span.product-item__title ITK Потолочная вентиляторная панель с&nbsp;термостатом 4&nbsp;вентилятора черная

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-01.jpg' alt='ITK Направляющие уголки 800мм черные (2шт)')
            span.product-item__title ITK Направляющие уголки 800мм черные (2шт)

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-02.jpg' alt='ITK Потолочная вентиляторная панель с термостатом 4 вентилятора черная')
            span.product-item__title ITK Потолочная вентиляторная панель с&nbsp;термостатом 4&nbsp;вентилятора черная

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-03.jpg' alt='ITK 19\' усиленная стационарная полка глубиной 800мм черная')
            span.product-item__title ITK&nbsp;19&Prime; усиленная стационарная полка глубиной 800мм черная

        .swiper-slide
          a.product-item(href='#')
            .product-item__img-cont
              img.product-item__img(src='assets/img/@product/addition-products/pic-04.jpg' alt='ITK Потолочная вентиляторная панель с термостатом 4 вентилятора черная')
            span.product-item__title ITK Потолочная вентиляторная панель с&nbsp;термостатом 4&nbsp;вентилятора черная
