.news-filters
  .filter-item
    .select-box
      span.select-box__cont Год
      ul.select-box__dropdown(style='display: none')
        li.active
          span.checkbox__txt 2021
        li
          span.checkbox__txt 2020
        li
          span.checkbox__txt 2019
        li
          span.checkbox__txt 2018

  .filter-item
    .select-box
      span.select-box__cont Месяц
      ul.select-box__dropdown(style='display: none')
        li.active
          span.checkbox__txt январь
        li
          span.checkbox__txt февраль
        li
          span.checkbox__txt март
        li
          span.checkbox__txt апрель
        li
          span.checkbox__txt май
        li
          span.checkbox__txt июнь
        li
          span.checkbox__txt июль

  .filter-item
    .select-box
      span.select-box__cont Раздел
      ul.select-box__dropdown(style='display: none')
        li.active
          span.checkbox__txt Шкафы монтажные
        li
          span.checkbox__txt Компоненты СКС медные
        li
          span.checkbox__txt Электропитание и мониторинг
        li
          span.checkbox__txt LAN-кабель и инструменты
