section.simplepage
  .simplepage-head
    .container
      h1.simplepage__title Заголовок H1. Montserrat, Bold, 36px

  .container
    .simplepage__top-cont
      img.simplepage__img(src='assets/img/@index/about/pic.jpg')

      .simplepage__txt-cont
        p.simplepage__txt ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK. <br><br>Сегодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.

    .simplepage-text-block
      h2.simplepage-text-block__title Заголовок H2. Montserrat, SemiBold, 30px
      p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK. <br><br>Сегодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.

    .simplepage-text-block
      h3.simplepage-text-block__title Заголовок H3. Montserrat, SemiBold, 28px
      .simplepage__cont.simplepage__cont--align-center
        p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK. <br><br>Сегодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций. Сегодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.С егодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.

        .block-cite
          p.block-cite__txt Цитата, ключевая мысль или пояснительный комментарий по&nbsp;тексту. <br><br>Высококачественная продукция для обеспечения эффективных телекоммуникационных решений и&nbsp;предоставление профессиональным потребителям самого современного оборудования российского производства.


    .simplepage-text-block
      h4.simplepage-text-block__title Заголовок H4. Montserrat, SemiBold, 24px
      p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK. <br><br>Сегодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций. Сегодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.С егодня оборудование ITK<sup class='reg'>&reg;</sup> используется в&nbsp;большом количестве престижных проектов и&nbsp;продолжает участвовать в&nbsp;программах реконструкции и&nbsp;обновления&nbsp;ИТ систем крупнейших российских и&nbsp;зарубежных организаций.


    .simplepage-gallery
      .simplepage-gallery__head
        h5.simplepage-gallery__title Заголовок H5. Montserrat, SemiBold, 20px
        .swiper__nav-cont
          .swiper-button-prev.simplepage-gallery__btn-prev
            include /common/icons/arrow.svg
          .swiper-button-next.simplepage-gallery__btn-next
            include /common/icons/arrow.svg

      .simplepage-gallery__wrapper.swiper-container
        .swiper-wrapper
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@simplepage/pic-01.jpg')
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@simplepage/pic-02.jpg')
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@simplepage/pic-03.jpg')
          .swiper-slide
            .simplepage-gallery__img-cont
              img.simplepage-gallery__img(src='assets/img/@simplepage/pic-04.jpg')


    .simplepage-text-block
      h6.simplepage-text-block__title Заголовок H6. Montserrat, SemiBold, 16px
      p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.


    .simplepage-text-block
      h2.simplepage-text-block__title Стиль таблиц и маркированных списков
      p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция российского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.

      ul.list
        span.list__title Маркированный список
        li Оптические и&nbsp;медные компоненты СКС,
        li Электропитание и&nbsp;мониторинг,
        li 19&nbsp;монтажные шкафы,
        li LAN-кабель и&nbsp;инструменты,

      p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция россий ского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.


    .simplepage-text-block
      span.simplepage__subtitle Стиль таблицы
      p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция россий ского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.

    .table-wrapper
      table.table.table--border
        thead
          tr
            td.width-03 Наименование
            td Описание
            td.align-right Значение
        tbody
          tr
            td.width-03 Наименование один
            td Описание один пример длинное описание
            td.align-right 2 500
          tr
            td.width-03 Второе наименование
            td Второе описание пример длинное описание
            td.align-right 25
          tr
            td.width-03 Третье нименование
            td Третье описание пример длинное описание
            td.align-right 65 255
          tr
            td.width-03 Наименование четыре
            td Описание четыре пример длинное описание
            td.align-right 1 233
          tr
            td.width-03 Пятое наименование
            td Пятое описание пример длинное описание
            td.align-right 568

    p ITK<sup class='reg'>&reg;</sup>&nbsp;&mdash; известная российская марка телекоммуникационного оборудования, под которой выпускается надежная продукция россий ского производства для&nbsp;ИТ рынка. ТМ&nbsp;ITK принадлежит одному из&nbsp;крупнейших производителей на&nbsp;российском электротехническом рынке Группе компаний IEK.
