extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block


  - const page = 'article-page'

  main(class='content '+ page +' inner-page')
    //- Article block ('.article')
    include /@article/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
