extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block

  //- Burger-menu block ('.burger-menu')
  include /common/blocks/burger-menu/block


  - const page = 'catalog-list-page'

  main(class='content '+ page +' inner-page')
    include /@catalog-list/block
    include /@catalog-list/catalog-description/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
