extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block

  //- Burger-menu block ('.burger-menu')
  include /common/blocks/burger-menu/block


  - const page = 'index'

  main(class='content '+ page +'')
    //- Main block ('.main')
    include /@index/main/block

    //- News block ('.news')
    include /@index/news/block

    //- News block ('.news')
    include /@index/production/block

    //- About block ('.about')
    include /@index/about/block

    //- Projects block ('.projects')
    include /@index/projects/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
