extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block

  //- Burger-menu block ('.burger-menu')
  include /common/blocks/burger-menu/block


  - const page = 'presscenter-page'

  main(class='content '+ page +'')
    //- News-list block ('.news-list')
    include /@presscenter/news-list/block

    +news-list('Новости ITK', true)

    //- Navigation block ('.nav')
    include /common/blocks/navigation/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
