extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block


  - const page = 'product-page'

  main(class='content '+ page +' inner-page')
    include /@product/product-main/block
    include /@product/product-features/block
    include /@product/product-table/block
    include /@product/product-documentation/block
    include /@product/addition-products/block
    include /@product/similar-products/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
