extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block

  //- Burger-menu block ('.burger-menu')
  include /common/blocks/burger-menu/block


  - const page = 'service-page'

  main(class='content '+ page +' inner-page')
    include /@service/service-menu/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
