extends template

block content
  //- Header block ('.header')
  include /common/blocks/header/block


  - const page = 'solutions-page'

  main(class='content '+ page +' inner-page')
    //- Description block ('.sol-description')
    include /@solutions/description/block

    //- Production-swiper block ('.production-swiper')
    include /@solutions/production-swiper/block

    //- Realized-swiper block ('.realized-swiper')
    include /@solutions/realized-swiper/block


  //- Footer block ('.footer')
  include /common/blocks/footer/block
